@charset "utf-8";
@import "font-awesome";
@import "bootstrap";
@import "compass";
@import "slider";

$screen-xs-max: 768px;

$intro-height: 730px;
$intro-height-mobile: 500px;

$blue: #4dbce9;
$green: #d1e751;
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;

html {
  overflow-x: hidden;
}

h1, p, a {
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

h4, h3, h1, p {
  text-align: center;
}

h1 {
  color: $blue;
  &.top-heading {
    font-weight: 100;
    font-size: 70px;
  }
}

h2 {
  color: $blue;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 50px;
}

h4 {
  font-weight: 200;
  font-size: 23px;
}

p {
  font-size: 20px;
}

.white {
  color: white;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.fa-facebook {
  color: $facebook-blue;
  &:hover {
    border: none;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
  }
}

.fa-twitter {
  color: $twitter-blue;
  &:hover {
    border: none;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
  }
}

.statistic-title {
  margin-top: 10px;
}

.btn-custom {
  background: transparent;
  border-color: $blue;
  border-style: solid;
  border-width: 2px;
  padding: 8px 45px;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 100;
  &:hover {
    background: $blue;
  }
}

.btn-black-hover {
  color: white;
  &:hover {
    color: black;
  }
}

.btn-white-hover {
  color: $blue;
  &:hover {
    color: white;
  }
}

.btn-video {
  background: none;
  color: white;
  font-weight: 100;
  padding: 10px 2px 10px 0;
  &:hover {
    text-decoration: underline;
    color: white;
  }
  &:focus {
    outline: none;
  }
}

.main-heading-text {
  width: 300px;
  position: absolute;
  z-index: 2;
  h1, p {
    text-align: left;
  }
}

.main-heading-image {
  overflow: hidden;
  float: right;
}

.introduction {
  background: black;
  height: $intro-height;
  img {
    max-height: $intro-height;
  }
  #intro-content {
    top: $intro-height / 2;
    margin-top: -163px;
  }
}

.regular-section {
  padding: 100px 0 0;
  text-align: center;
  .top-heading {
    display: inline;
  }
  img.logo {
    width: 335px;
    margin-top: -42px;
    margin-left: 25px;
  }
  .regular-text-block {
    margin-top: 50px;
  }
  &:last-of-type {
    margin-bottom: 50px;
  }
}

h3.statistic {
  font-size: 50px;
  font-weight: 100;
}

.cause-stats {
  margin-top: 75px;
}

.backpack-image-wrap {
  @include background-image(linear-gradient(white 67%, #ececec));
}
.backpack-image {
  background-image: url('/images/backpack.png');
  background-repeat: no-repeat;
  height: 477px;
  background-size: 566px;
  background-position: center 72px;
}

.wearing-bag-wrap {
  padding: 0;
}
.wearing-bag-image {
  height: 500px;
  background-image: url("/images/backpack_wearing.jpg");
  background-size: 1300px;
  background-repeat: no-repeat;
}

.social-section {
  h3 {
    margin-bottom: 40px;
  }
}

.slider {
  margin: 35px 0;
}

@media screen and (max-width: $screen-xs-max) {
  .mobile-text-center {
    text-align: center;
  }
  .main-heading-text {
    width: 100%;
    text-align: center;
    h1, p {
      text-align: center;
    }
  }
  .introduction {
    height: $intro-height-mobile;
    #intro-content {
      margin-top: -270px;
    }
  }
  .regular-section {
    .logo-container {
      margin-top: 50px;
    }
  }
  .formula-section {
    .fa-sun-o, .fa-suitcase {
      margin-top: 30px;
    }
  }
  .backpack-image {
    height: 391px;
    background-size: 360px;
  }
  .wearing-bag-image {
    background-position-x: -94px;
  }
}
// the logo in the first section breaks to below the text
// and we need to remove the -ve margin
@media screen and (max-width: 551px) {
  .regular-section {
    img.logo {
      margin-top: 20px;
    }
  }
}
